<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Data Project</title>
  </head>
  <body>
    <h1>Django Data Project</h1>
    <ul>
      <li>Question 1: Plot the number of matches played per year of all the years in IPL.&nbsp;<a href="{% url 'dataquestions:plot_data' question_id=1 %}">Plot chart</a></li>
      <li>Question 2: Plot a stacked bar chart of matches won of all teams over all the years of IPL.&nbsp;<a href="{% url 'dataquestions:plot_data' question_id=2 %}">Plot chart</a></li>
      <li>Question 3: For the year 2016 plot the extra runs conceded per team.&nbsp;<a href="{% url 'dataquestions:plot_data' question_id=3 %}">Plot chart</a></li>
      <li>Question 4: For the year 2015 plot the top economical bowlers.&nbsp;<a href="{% url 'dataquestions:plot_data' question_id=4 %}">Plot chart</a></li>
    </ul>
  </body>
</html>
