<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plot Question {{ question_id }}</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
  </head>
  <body>

    <!-- Plot question 1 -->
    {% if question_id == 1 %}
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

      <script type="text/javascript">

        Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: 'Matches per year'
          },
          subtitle: {
              text: 'Source: IPL dataset'
          },
          xAxis: {
              categories: [
                  {% for season in query_set %}
                    '{{ season.season }}',
                  {% endfor %}
              ],
              crosshair: true,
              title: {
                text: 'Seasons'
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Matches'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          series: [{
              name: 'Matches',
              data: [
                {% for season in query_set %}
                  {{ season.total }},
                {% endfor %}
              ]
          },]
        });
      </script>

    <!-- Plot question 2 -->
    {% elif question_id == 2 %}
      <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
      <script type="text/javascript">

        Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: 'Matches won by all teams over all the seasons of IPL'
          },
          xAxis: {
              categories: ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',],
              title: {
                text: 'Seasons'
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Total matches'
              },
              stackLabels: {
                  enabled: true,
                  style: {
                      fontWeight: 'bold',
                      color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                  }
              }
          },
          legend: {
              align: 'center',
              x: 0,
              verticalAlign: 'bottom',
              y: 10,
              floating: true,
              backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
              borderColor: '#CCC',
              borderWidth: 1,
              shadow: false
          },
          tooltip: {
              headerFormat: '<b>{point.x}</b><br/>',
              pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: false,
                      color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                  }
              }
          },
          series: [
            {% for team, matches in query_set.items %}
              {
                name: '{{ team }}',
                data: [
                  {% for _, wins in matches.items %}
                    {{ wins }},
                  {% endfor %}
                ]
              },
            {% endfor %}
          ]
        });
      </script>

    <!-- Plot Question 3 -->
    {% elif question_id == 3 %}
      <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

      <script type="text/javascript">

        Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: 'Extra runs conceded per team in 2016 season'
          },
          subtitle: {
              text: 'Source: IPL dataset'
          },
          xAxis: {
              categories: [
                  {% for team in query_set %}
                    '{{ team.bowling_team }}',
                  {% endfor %}
              ],
              crosshair: true,
              title: {
                text: 'Teams'
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Total extra runs'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          series: [{
              name: 'Runs',
              data: [
                {% for team in query_set %}
                  {{ team.runs }},
                {% endfor %}
              ]
          },]
        });
      </script>

    <!-- Plot Question 4 -->
    {% elif question_id == 4 %}
      <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

      <script type="text/javascript">

        Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: 'Top economical bowlers of 2015 season'
          },
          subtitle: {
              text: 'Source: IPL dataset'
          },
          xAxis: {
              categories: [
                  {% for bowler in query_set %}
                    '{{ bowler.bowler }}',
                  {% endfor %}
              ],
              crosshair: true,
              title: {
                text: 'Bowlers'
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Bowling economy'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          series: [{
              name: 'Economy',
              data: [
                {% for bowler in query_set %}
                  {{ bowler.avg }},
                {% endfor %}
              ]
          },]
        });
      </script>

    {% endif %}


  </body>
</html>
